<h1> <%= @job.title %> </h1>

<h3><%= @job.description %></h3>

<% if !@job.completed? %>
<div id="before-claim">
  <% if current_worker %>
    <% if @job.pending && @job.worker_id != current_worker.id %>
      <p>Someone has already claimed this job.</p>
    <% elsif @job.worker_id == current_worker.id %>
      <p>This job has been claimed by you.</p>
    <% end %>
  <% end %>

  <% if current_user %>
    <% if @job.pending? %>
      <p>Someone has already claimed this job.</p>
    <% end %>
  <% end %>

  <% if !@job.pending? %>
  <p>No one has claimed this job!</p>
  <%= link_to "click here to claim it now", job_path(@job), :method => "patch", remote: true %>
  <% end %>
</div>

<div id="after-claim">

</div>
<% else %>
  <p>This job was completed.</p>
<% end %>
